registry=https://npm.my.internal/                              // Use my internal npm repository for security and cache purpose
strict-ssl=true                                                // True is always true
cafile=/Users/beejei/internal.crt                             // Internal chained certificate should be in place
python=/Users/beejei/.pyenv/versions/2.7.18/bin/python        // Stil prior version of node-gyp uses python 2.7
email=develop.bjkim@gmail.com                                  // My email address to publish package
always-auth=true                                               // Authentication is always required whenever publishing
